.about{
    font-family: 'ZCOOL KuaiLe', cursive;
    background-image: url('images/pexels-wendy-van-zyl-1112048.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    text-align: center;
}

