.about{
    font-family: 'ZCOOL KuaiLe', cursive;
    background-image: url('images/pexels-wendy-van-zyl-1112048.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    text-align: center;
}
.nav {
    list-style: none;
    float: right;
    text-align: center;
    overflow: hidden;
    background-color: black;
    font-family:  'ZCOOL KuaiLe', cursive;
    }
    
    .nav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      .nav a:hover {
        background-color: #ddd;
        color: white;
      }
      @media only screen and (max-width:800px) {
        /* For tablets: */
        .main {
          width: 80%;
          padding: 0;
        }
        .right {
          width: 100%;
        }
      }
      @media only screen and (max-width:500px) {
        /* For mobile phones: */
        .menu, .main, .right {
          width: 100%;
        }
    }

