.nav {
list-style: none;
float: right;
text-align: center;
overflow: hidden;
background-color: black;
font-family:  'ZCOOL KuaiLe', cursive;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  .nav a.active {
    background-color: grey;
    color: white;
  }
body{
    background-color: black;
}
h1{
    color: white;
    font-family: 'ZCOOL KuaiLe', cursive;
    margin-left: 50px;
}
img {
    /* border-radius: 50%; */
    float: right;
    margin-right: 150px;
    padding-top: 20px;
  }
  h2 {
      color: white;
      padding-top: 150px;
      margin-left: 100px;
      font-weight: 800;
      font-size: xx-large
}
#quote {
    color: white;
    margin-left: 120px;
    font-family: 'ZCOOL KuaiLe', cursive;
}
