.picture{
    float: right;
    margin-right: 150px;
}
.description{
    float: left;
    margin-left: 100px;
    padding-top: 60px;
    font-family: 'ZCOOL KuaiLe', cursive;
    
}
.anitas{
    padding-top: 50px;
}
.transport{
    padding-top: 400px;
}
.dairy{
    padding-top: 400px;
}
.intro{
    font-family: 'ZCOOL KuaiLe', cursive;
    
   
}
h1{
    font-size: xx-large;
    text-align: center;
}
.background{
    background-color: black;
    background-image: url('images/markus-winkler-Q2J2qQsoYH8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}