.picture{
    float: right;
    margin-right: 150px;
}
.description{
    float: left;
    margin-left: 100px;
    padding-top: 60px;
    font-family: 'ZCOOL KuaiLe', cursive;
    
}
.anitas{
    padding-top: 50px;
}
.transport{
    padding-top: 400px;
}
.dairy{
    padding-top: 400px;
}
.intro{
    font-family: 'ZCOOL KuaiLe', cursive;
    
   
}
h1{
    font-size: xx-large;
    text-align: center;
}
.background{
    background-color: black;
    background-image: url('images/markus-winkler-Q2J2qQsoYH8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.nav {
    list-style: none;
    float: right;
    text-align: center;
    overflow: hidden;
    background-color: black;
    font-family:  'ZCOOL KuaiLe', cursive;
    }
    
    .nav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      .nav a:hover {
        background-color: #ddd;
        color: white;
      }
      @media only screen and (max-width:800px) {
        /* For tablets: */
        .main {
          width: 80%;
          padding: 0;
        }
        .right {
          width: 100%;
        }
      }
      @media only screen and (max-width:500px) {
        /* For mobile phones: */
        .menu, .main, .right {
          width: 100%;
        }
    }